@{
    ViewData["Title"] = "Home Page";
}

<html>
    <style>
        /* Style the body */
        body {
            font-family: Arial;
            margin: 0;

        }

        /* Header/Logo Title */
        .header {
            padding: 15% 20%;
            text-align: center;
            background: #1abc9c;
            color: white;
            font-size: 30px;
        }

        /* Page Content */
        .content {
            padding: 20px;
        }
    </style>
    <body>
        <div class="header" style="background-image: url('../Contents/Images/BackgroundImg.jpg');">
            <h3>WELCOME</h3>
            <h4>TO</h4>
            <h1>Book Store</h1>
        </div>
    </body>
</html>